# NECESSARY PARAMETERS
pdb_file = '../traj/truncated.pdb'
ref_pdb_file = '../traj/truncated.pdb'     # ref_pdb_file needs to be the same for all calculations; whether its S411A or mutant. 
traj_loc = '../traj/Truncated/'
start = 100
end = 100
alignment = 'name CA'
covar_selection = 'name CA'
average_out = '100.100.wt_ssrna_atp_1.avg.dat'
covar_out = '100.100.wt_ssrna_atp_1.covar.dat'
inv_covar_out = '100.100.wt_ssrna_atp_1.inv_covar.dat'

# OPTIONAL PARAMETERS
write_summary = True
summary_filename = '100.100.wt_ssrna_atp_1.compute_covar_avg.summary'


