# NECESSARY PARAMETERS
wt_average_file = 'test/wt_ssrna_atp_1.avg.dat'
wt_covar_inv_file = 'test/wt_ssrna_atp_1.inv_covar.dat'
mut_average_file = 'test/s411a_ssrna_atp_1.avg.dat'
mut_res_num = 244     # the relative_Kd.calc.py script was corrected for the zero index used by python. therefore use the actual resid from simulation.
res_min = 235
res_max = 250


